.main-layout {
  .header {
    background-color:#b33f3f;
    padding: 15px 0;
  }

  .burger-menu-container {
    margin-top: -20px;
  }

  #header-menu {
    padding: 0;
  }

  .burger-menu {
    background-color: #b33f3f;
  }

  .main-content {

  }

  .footer {

  }
}
