<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid footer">
    <div class="row navbar-footer footer-row text-center">
        <div class="col-sm-2">
          <a href="#">Nuestra Historia</a>
        </div>

        <div class="col-sm-2">
          <a href="#">Eventos Especiales</a>
        </div>

        <div class="col-sm-2">
          <a href="#">Visitenos</a>
        </div>

        <div class="col-sm-2">
          <a href="#">Contactenos</a>
        </div>

        <div class="col-sm-2">
          <a href="#">Preguntas Frecuentes</a>
        </div>

        <div class="col-sm-2">
          <a href="#">Mapa del Sitio</a>
        </div>
    </div>
  </div>
</div>
