<div class="navbar navbar-default navbar-fixed-top main-navbar">
  <div class="container-fluid header">
    <div class="row navbar-header header-row">
      <div class="col-sm-9 col-xs-12">
        <div class="row">
          <div class="col-sm-1 col-xs-2 navbar-header">
            <button type="button" class="btn btn-danger navbar-toggle collapsed hamburger"
              data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
          </div>

          <div class="col-sm-3 col-xs-10 text-right">
            <a href="/" class="logo">
              <img src="/images/logo_libreria.png">
            </a>
          </div>

          <div class="col-xs-12 visible-xs-block header-divider"></div>

          <div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">
            <input type="search" class="form-control" id="search" placeholder="Search">
          </div>

          <div class="col-md-1"></div>
        </div>
      </div>

      <div class="col-xs-12 visible-xs-block header-divider"></div>

      <div class="col-sm-3 col-xs-12 btn-group">
        <button type="button" class="btn btn-default col-sm-3 col-xs-4 nav-button" aria-label="Center Align">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default col-sm-3 col-xs-4 nav-button" aria-label="Center Align">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default dropdown-toggle col-sm-6 col-xs-4 nav-button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Idioma
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu col-xs-6 pull-right language-menu">
          <li><a href="#">Español</a></li>
          <li><a href="#">Inglés</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
